<p>article works!</p>

<mat-card class="example-card" *ngIf="post$ | async as post">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{post.titol}}</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="post.imatge1" alt="{{ post.alt1 }}">
    <mat-card-content>
      <p>
        {{ post.text1}}
      </p>
    </mat-card-content>
    <img mat-card-image [src]="post.imatge2" alt="{{ post.alt2 }}">
    <mat-card-content>
      <p>
        {{ post.text2}}
      </p>
    </mat-card-content>
    <img mat-card-image [src]="post.imatge3" alt="{{ post.alt3 }}">
    <mat-card-content>
      <p>
        {{ post.text3}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="accent">LIKE</button>
      <button mat-stroked-button color="accent">SHARE</button>
    </mat-card-actions>
  </mat-card>